pipeline/People_success.json
{
	"name": "People_success",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.delighted.com/v1/people.json",
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@variables('var_API-Key')",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_fusedata_AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "Delighted"
						}
					}
				}
			},
			{
				"name": "response_body",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "response_body",
					"value": {
						"value": "@activity('Web1').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "response_header",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "response_header",
					"value": {
						"value": "@activity('Web1').output.ADFWebActivityResponseHeaders.Link",
						"type": "Expression"
					}
				}
			},
			{
				"name": "save_body",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "response_body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "people123",
								"value": {
									"value": "@variables('response_body')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".json"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "people123",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_csv_dummy_1col",
						"type": "DatasetReference",
						"parameters": {
							"fn": "dummy.csv",
							"dir": "delighted",
							"cont": "land"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_csv_dummy_1col",
						"type": "DatasetReference",
						"parameters": {
							"fn": "p_335.json",
							"dir": "delighted/temp",
							"cont": "land"
						}
					}
				]
			},
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Save_body_to_SQLDB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "response_header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[udsp_insert_temp]",
					"storedProcedureParameters": {
						"body": {
							"value": {
								"value": "@activity('Web1').output.Response",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"response_body": {
				"type": "String"
			},
			"response_header": {
				"type": "String"
			},
			"var_API-Key": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land/test"
		},
		"annotations": []
	}
}