pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.delighted.com/v1/people.json",
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "j9HsbUD0W8zhN14uoKv2HfIO7JIlxXzJ",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_fusedata_AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "Delighted"
						}
					}
				}
			},
			{
				"name": "response_body",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "response_body",
					"value": {
						"value": "@activity('Web1').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "response_header",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "response_header",
					"value": {
						"value": "@activity('Web1').output.ADFWebActivityResponseHeaders.Link",
						"type": "Expression"
					}
				}
			},
			{
				"name": "save_body",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "response_body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "people",
								"value": {
									"value": "@variables('response_body')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".json"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "people",
									"type": "String"
								},
								"sink": {
									"name": "people",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_csv_dummy_1col",
						"type": "DatasetReference",
						"parameters": {
							"fn": "dummy.csv",
							"dir": "delighted",
							"cont": "land"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_csv_dummy_1col",
						"type": "DatasetReference",
						"parameters": {
							"fn": "p1.json",
							"dir": "delighted/temp",
							"cont": "land"
						}
					}
				]
			}
		],
		"variables": {
			"response_body": {
				"type": "String"
			},
			"response_header": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land/test"
		},
		"annotations": []
	}
}