pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.delighted.com/v1/people.json",
					"method": "GET",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The dumping survey answer from delighted processing is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.cc}\",\n    \"subject\" : \"No-Reply: The Data dumping is success.\"\n   }",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "j9HsbUD0W8zhN14uoKv2HfIO7JIlxXzJ",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_fusedata_AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "Delighted"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": {
						"value": "@substring(activity('Web1').output.ADFWebActivityResponseHeaders.Link\n,1,sub(length(activity('Web1').output.ADFWebActivityResponseHeaders.Link),13))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "people",
								"value": {
									"value": "@activity('Web1').output.Response",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "people",
									"type": "String"
								},
								"sink": {
									"name": "people",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_snk_land_log_success_load_delighted",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snk_temp",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "chenerjun@gmail.com"
			},
			"cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca"
			},
			"subject": {
				"type": "string",
				"defaultValue": "No-Reply: The Data dumping is success."
			}
		},
		"variables": {
			"apikey": {
				"type": "String"
			},
			"var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}