pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "next_page_url",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": {
						"value": "@substring(activity('ingest_people').output.ADFWebActivityResponseHeaders.Link\n,1,sub(length(activity('ingest_people').output.ADFWebActivityResponseHeaders.Link),13))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "save_people_to_temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "next_page_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "people",
								"value": {
									"value": "@activity('ingest_people').output.Response",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "people",
									"type": "String"
								},
								"sink": {
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_csv_empty_template",
						"type": "DatasetReference",
						"parameters": {
							"src_file_name": "anyone"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snk_csv_empty_template",
						"type": "DatasetReference",
						"parameters": {
							"snk_filename": "p1.json"
						}
					}
				]
			}
		],
		"variables": {
			"apikey": {
				"type": "String"
			},
			"var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}