pipeline/pipeline19.json
{
	"name": "pipeline19",
	"properties": {
		"activities": [
			{
				"name": "ingest_people",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "receiver ",
						"value": "placeholder"
					}
				],
				"typeProperties": {
					"url": "https://api.delighted.com/v1/people.json",
					"method": "GET",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The dumping survey answer from delighted processing is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.cc}\",\n    \"subject\" : \"No-Reply: The Data dumping is success.\"\n   }",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "j9HsbUD0W8zhN14uoKv2HfIO7JIlxXzJ",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_fusedata_AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "Delighted"
						}
					}
				}
			},
			{
				"name": "next_page_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ingest_people",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": {
						"value": "@substring(activity('ingest_people').output.ADFWebActivityResponseHeaders.Link\n,1,sub(length(activity('ingest_people').output.ADFWebActivityResponseHeaders.Link),13))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"apikey": {
				"type": "String"
			},
			"var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}