pipeline/pl_API_Manager.json
{
	"name": "pl_API_Manager",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "check_load_type_Is_delta",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    or(\n        or(\n        or(equals('y',pipeline().parameters.is_delta_load),equals('Y',pipeline().parameters.is_delta_load)),\n        or(equals('yes',pipeline().parameters.is_delta_load),equals('YES',pipeline().parameters.is_delta_load))\n        ),\n        or(\n        or(equals('t',pipeline().parameters.is_delta_load),equals('T',pipeline().parameters.is_delta_load)),\n        or(equals('ture',pipeline().parameters.is_delta_load),equals('TURE',pipeline().parameters.is_delta_load))\n        )\n    )\n, equals(1, '1')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute_period_load_survey",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_ps_src_start_date": {
										"value": "@variables('var_m_period_start_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_until_date": {
										"value": "@variables('var_m_period_until_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"par_ps_receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"par_ps_cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_ps_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "period_start_date",
							"description": "load delighted survey data from this date at 12:00 AM",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_timestamp",
								"value": {
									"value": "@string(\ndiv(sub(ticks(convertToUtc(pipeline().parameters.par_m_start_date, 'Eastern Standard Time')), ticks('1970-01-01')),10000000)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "period_until_date",
							"description": "period load until this date at 11:59 PM",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_start_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_period_until_people_timestamp",
								"value": {
									"value": "@string(\nadd(86390,div(sub(ticks(convertToUtc(pipeline().parameters.par_m_until_date, 'Eastern Standard Time')), ticks('1970-01-01')),10000000))\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_period_load_people",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_People",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_init_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_p_start_date": {
										"value": "@variables('var_m_period_start_people_timestamp')",
										"type": "Expression"
									},
									"par_p_until_date": {
										"value": "@variables('var_m_period_until_people_timestamp')",
										"type": "Expression"
									},
									"par_p_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "force init_until_date_timestamp",
							"description": "init_until_date_timestamp to current timestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_until_delta_people_timestamp",
								"value": {
									"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_period_load_survey_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "force init_until_date_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_ps_src_start_date": {
										"value": "@variables('var_m_period_start_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_until_date": {
										"value": "@variables('var_m_period_until_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"par_ps_receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"par_ps_cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_ps_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_period_load_people_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "force init_until_date_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_People",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_init_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_p_start_date": {
										"value": "@variables('var_m_period_start_people_timestamp')",
										"type": "Expression"
									},
									"par_p_until_date": {
										"value": "@variables('var_m_period_until_people_timestamp')",
										"type": "Expression"
									},
									"par_p_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "lkp_last_success_load_survey",
							"description": "logged created date will be added one day as the new loading start date.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT top 1 \n       [pl_load_start_datetime_EST]\n      ,[pl_load_start_timestamp]\n      ,[pl_load_start_datetime_UTC]\n      ,[pl_load_until_datetime_EST]\n      ,[pl_load_until_timestamp]\n      ,[pl_load_until_datetime_UTC]\n\t  ,[pl_next_delta_datetime_EST]\n      ,[pl_next_delta_timestamp]\n      ,[pl_next_delta_datetime_UTC]\n\t  ,[pl_created_datetime_EST]\n      ,[pl_Created_timestamp]\n      ,[pl_created_datetime_UTC]\n  FROM [land].[pipeline_activity_log]\n  where [pl_category] = 'survey' and [pl_status]  = 1 and pl_load_type = 'delta'\n  order by [pl_log_id] desc \n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_src_land_sql_log",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "delta_survey_start_timestamp",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_survey_start_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_survey_timestamp",
								"value": {
									"value": "@string(\nactivity('lkp_last_success_load_survey').output.firstRow.pl_load_until_timestamp\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "lkp_last_success_load_people",
							"description": "logged created date will be added one day as the new loading start date.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT TOP 1\n       [pl_load_start_datetime_EST]\n      ,[pl_load_start_timestamp]\n      ,[pl_load_start_datetime_UTC]\n      ,[pl_load_until_datetime_EST]\n      ,[pl_load_until_timestamp]\n      ,[pl_load_until_datetime_UTC]\n\t  ,[pl_next_delta_datetime_EST]\n      ,[pl_next_delta_timestamp]\n      ,[pl_next_delta_datetime_UTC]\n\t  ,[pl_created_datetime_EST]\n      ,[pl_Created_timestamp]\n      ,[pl_created_datetime_UTC]\n  FROM [land].[pipeline_activity_log]\n  where [pl_category] = 'people' and [pl_status]  = 1 and pl_load_type = 'delta'\n  order by [pl_log_id] desc ",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_src_land_sql_log",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "delta_people_start_timestamp",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_people_start_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_timestamp",
								"value": {
									"value": "@string(\nactivity('lkp_last_success_load_people').output.firstRow.pl_load_until_timestamp\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute delta load survey",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "delta_survey_start_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_delta_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_src_endpoint": {
										"value": "@concat(pipeline().parameters.par_m_init_endpoint\n,'survey_responses.json/'\n)",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_c1_start_delta_survey_timestamp": {
										"value": "@variables('var_m_start_delta_survey_timestamp')",
										"type": "Expression"
									},
									"par_c1_start_delta_survey_datetime": {
										"value": "@variables('var_m_start_delta_survey_datetime')",
										"type": "Expression"
									},
									"par_api_key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "delta_survey_start_datetime",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_last_success_load_survey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_survey_datetime",
								"value": {
									"value": "@string(activity('lkp_last_success_load_survey').output.firstRow.pl_load_until_datetime_UTC)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "delta_people_start_datetime",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_last_success_load_people",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_datetime",
								"value": {
									"value": "@string(activity('lkp_last_success_load_people').output.firstRow.pl_load_until_datetime_UTC)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute delta load people",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "delta_people_start_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_delta_People",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_init_endpoint": {
										"value": "@concat(pipeline().parameters.par_m_init_endpoint\n,'people.json/'\n)",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_c1_start_delta_people_timestamp": {
										"value": "@variables('var_m_start_delta_people_timestamp')",
										"type": "Expression"
									},
									"par_c1_start_delta_people_datetime": {
										"value": "@variables('var_m_start_delta_people_datetime')",
										"type": "Expression"
									},
									"par_p_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_m_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "delta survey Success notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "check_load_type_Is_delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The delta dumping survey from delighted is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" :\"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.par_m_receiver}\",\n    \"cc\":\"@{pipeline().parameters.par_m_cc}\",\n    \"subject\" : \"No-Reply: The survey Data delta dumping success.\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delta survey Faiure notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "check_load_type_Is_delta",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The delta dumping survey from delighted faild at @{convertFromUtc(utcNow(),'eastern standard time')}\",\n    \"pipelineName\" :\"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.par_m_receiver}\",\n    \"cc\":\"@{pipeline().parameters.par_m_cc}\",\n    \"subject\" : \"No-Reply: The survey Data delta dumping failed.\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"is_delta_load": {
				"type": "string",
				"defaultValue": "y"
			},
			"par_m_start_date": {
				"type": "string",
				"defaultValue": "2023-01-01"
			},
			"par_m_until_date": {
				"type": "string",
				"defaultValue": "2023-01-07"
			},
			"par_m_receiver": {
				"type": "string",
				"defaultValue": "chenerjun@live.com"
			},
			"par_m_cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca,echen@jbssa.com"
			},
			"par_m_init_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/"
			}
		},
		"variables": {
			"var_m_API-Key": {
				"type": "String"
			},
			"var_m_period_start_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_until_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531201"
			},
			"var_m_start_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_until_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_period_people_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_period_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_delta_people_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_start_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_until_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_start_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_until_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_period_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_period_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531201"
			},
			"var_m_last_delta_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_start_delta_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_period_start_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_start_delta_people_datetime": {
				"type": "String"
			},
			"var_m_period_start_people_datetime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}