pipeline/pl_delighted_period_survey.json
{
	"name": "pl_delighted_period_survey",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "Log_priod_load_survey_Success",
				"description": "log pipeline activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "loop_page_period_survey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"pl_category": {
							"value": "survey",
							"type": "String"
						},
						"pl_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"adf_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_status": {
							"value": "1",
							"type": "Int32"
						},
						"pl_load_type": {
							"value": "period",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": {
								"value": "@pipeline().parameters.par_ps_src_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_load_until_date": {
							"value": {
								"value": "@pipeline().parameters.par_ps_src_until_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_priod_load_survey_failed",
				"description": "log pipeline activity failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "loop_page_period_survey",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"pl_category": {
							"value": "survey",
							"type": "String"
						},
						"pl_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"adf_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_status": {
							"value": "0",
							"type": "Int32"
						},
						"pl_load_type": {
							"value": "period",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": {
								"value": "@pipeline().parameters.par_ps_src_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_load_until_date": {
							"value": {
								"value": "@pipeline().parameters.par_ps_src_until_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "period_Survey_Success notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Log_priod_load_survey_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The periodical dumping survey answer from delighted processing is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.par_ps_receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.par_ps_cc}\",\n    \"subject\" : \"No-Reply: The survey Data periodical dumping success.\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "period_Survey Faiure notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Log_priod_load_survey_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The periodical dumping survey answer from delighted processing failed at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.par_ps_receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.par_ps_cc}\",\n    \"subject\" : \"No-Reply: The survey Data periodical dumping failed.\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "initial_var_api_pagination",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_period_survey_api_pagination",
					"value": "1"
				}
			},
			{
				"name": "loop_page_period_survey",
				"description": "loop load period survey answer",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "initial_var_api_pagination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\r\n    variables('var_period_survey_api_pagination')\r\n    ,'0'\r\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "period_load_survey_response",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(\n    pipeline().parameters.par_ps_src_endpoint\n    ,'survey_responses.json'\n    ,'?since=',variables('var_period_survey_start_timestamp')\n    ,'&until=',variables('var_period_survey_until_timestamp')\n    ,'&page=',variables('var_period_survey_api_pagination')\n)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": {
										"value": "@pipeline().parameters.par_ps_API_Key",
										"type": "Expression"
									},
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "ls_fusedata_AzureKeyVault",
											"type": "LinkedServiceReference"
										},
										"secretName": "Delighted"
									}
								}
							}
						},
						{
							"name": "failed_stop_loop",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_load_survey_response",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_period_survey_api_pagination",
								"value": "0"
							}
						},
						{
							"name": "is_it_no_more_page",
							"description": "check to see if has more pages",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "period_load_survey_response",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(\nvariables('var_period_survey_api_pagination')\n, '0')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "store_period_survey_response",
										"description": "store_period_survey to table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[udsp_insert_surveytemp]",
											"storedProcedureParameters": {
												"r": {
													"value": {
														"value": "@activity('period_load_survey_response').output.Response",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azure_sqldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "move_pagination_to_bridge",
										"description": "move_pagination_to_bridge to updating it",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "store_period_survey_response",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_period_bridge",
											"value": {
												"value": "@variables('var_period_survey_api_pagination')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "update_pagination",
										"description": "update_pagination",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "move_pagination_to_bridge",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_period_survey_api_pagination",
											"value": {
												"value": "@string(add(int(variables('var_period_bridge')),1))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "no_page_stop_loop_period_surver",
										"description": "no_more page,\nstop_loop_period_surver",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_period_survey_api_pagination",
											"value": "0"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"par_ps_src_start_date": {
				"type": "string",
				"defaultValue": "2023-01-01"
			},
			"par_ps_src_until_date": {
				"type": "string",
				"defaultValue": "2023-01-07"
			},
			"par_ps_src_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/survey_responses.json"
			},
			"par_ps_receiver": {
				"type": "string",
				"defaultValue": "chenerjun@gmail.com"
			},
			"par_ps_cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca,echen@jbssa.com"
			},
			"par_ps_API_Key": {
				"type": "string"
			}
		},
		"variables": {
			"var_period_survey_api_pagination": {
				"type": "String",
				"defaultValue": "1"
			},
			"var_period_survey_start_timestamp": {
				"type": "String"
			},
			"var_period_survey_until_timestamp": {
				"type": "String"
			},
			"var_period_API-Key": {
				"type": "String"
			},
			"var_period_bridge": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}