pipeline/pl_delighted_period_People.json
{
	"name": "pl_delighted_period_People",
	"properties": {
		"activities": [
			{
				"name": "initial_endpoint",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_endpoint",
					"value": {
						"value": "@pipeline().parameters.par_init_endpoint",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_list_people_period",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "initial_endpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('var_endpoint'), 'stop')\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "list_people",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(variables('var_endpoint'),'?'\n, 'since=', pipeline().parameters.par_p_start_delat_people_timestamp\n, '&until=', string(div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000))\n)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": {
										"value": "@pipeline().parameters.par_p_API_Key",
										"type": "Expression"
									},
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "ls_fusedata_AzureKeyVault",
											"type": "LinkedServiceReference"
										},
										"secretName": "Delighted"
									}
								}
							}
						},
						{
							"name": "Stored_response_to_tb",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "list_people",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[udsp_insert_peopletemp]",
								"storedProcedureParameters": {
									"r": {
										"value": {
											"value": "@activity('list_people').output.Response",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sqldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "reset_endpoint",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "list_people",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_endpoint",
								"value": "stop"
							}
						},
						{
							"name": "does head has link",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "list_people",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(\n    activity('list_people').output.ADFWebActivityResponseHeaders\n    ,'Link'\n)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "reset_endpoint_to_stop_loop",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_endpoint",
											"value": "stop"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "get_response_header",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "response_header",
											"value": {
												"value": "@activity('list_people').output.ADFWebActivityResponseHeaders.Link",
												"type": "Expression"
											}
										}
									},
									{
										"name": "update_endpoint",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "get_response_header",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_endpoint",
											"value": {
												"value": "@substring(variables('response_header'),1\n,sub(length(variables('response_header')),14)\n)\n ",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "log delta people success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "loop_list_people_period",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"adf_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_category": {
							"value": "people",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": {
								"value": "@pipeline().parameters.par_p_start_delta_people_datetime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pl_load_type": {
							"value": "delta",
							"type": "String"
						},
						"pl_load_until_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pl_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_status": {
							"value": "1",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "log delta people faild",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "loop_list_people_period",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"adf_name": {
							"value": "",
							"type": "String"
						},
						"pl_category": {
							"value": "",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": "",
							"type": "DateTime"
						},
						"pl_load_type": {
							"value": "",
							"type": "String"
						},
						"pl_load_until_date": {
							"value": "",
							"type": "DateTime"
						},
						"pl_name": {
							"value": "",
							"type": "String"
						},
						"pl_status": {
							"value": "",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"par_init_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "chenerjun@live.com"
			},
			"cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca,echen@jbssa.com"
			},
			"par_p_start_delat_people_timestamp": {
				"type": "string"
			},
			"par_p_start_delta_people_datetime": {
				"type": "string"
			},
			"par_p_API_Key": {
				"type": "string"
			}
		},
		"variables": {
			"response_body": {
				"type": "String"
			},
			"response_header": {
				"type": "String"
			},
			"var_endpoint": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}