pipeline/pl_delighted_rest_period_survey.json
{
	"name": "pl_delighted_rest_period_survey",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "period_get_delighted_responses",
				"description": "Listing survey responses from delighted rest api",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_src_land_delighted",
						"type": "DatasetReference",
						"parameters": {
							"par_src_page": {
								"value": "@pipeline().parameters.par_src_page",
								"type": "Expression"
							},
							"par_src_updated_since": {
								"value": "@variables('var_period_start')",
								"type": "Expression"
							},
							"par_src_updated_until": {
								"value": "@variables('var_period_until')",
								"type": "Expression"
							},
							"par_src_ednpoint": {
								"value": "@pipeline().parameters.par_src_endpoint",
								"type": "Expression"
							},
							"par_src_apikey": {
								"value": "@variables('var_API-Key')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snk_land_delighted_json",
						"type": "DatasetReference",
						"parameters": {
							"par_ds_snk_delighted_container": {
								"value": "@pipeline().parameters.par_snk_container",
								"type": "Expression"
							},
							"par_ds_snk_delighted_dir": {
								"value": "@pipeline().parameters.par_snk_dir",
								"type": "Expression"
							},
							"par_ds_snk_delighted_file": {
								"value": "@concat('survey'\n, '-'\n, replace(pipeline().parameters.par_src_start_date,'-','')\n, '-'\n, replace(pipeline().parameters.par_src_until_date,'-',''), '-2359'\n, '.json'\n)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LogPLActivitySuccess",
				"description": "log pipeline activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "period_get_delighted_responses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"pl_category": {
							"value": "delighted",
							"type": "String"
						},
						"pl_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"adf_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_status": {
							"value": "1",
							"type": "Int32"
						},
						"pl_load_type": {
							"value": "period",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": {
								"value": "@pipeline().parameters.par_src_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_load_until_date": {
							"value": {
								"value": "@pipeline().parameters.par_src_until_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogPLActivityfailed",
				"description": "log pipeline activity failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "period_get_delighted_responses",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[land].[udsp_logpipeline]",
					"storedProcedureParameters": {
						"pl_category": {
							"value": "delighted",
							"type": "String"
						},
						"pl_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"adf_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_status": {
							"value": "0",
							"type": "Int32"
						},
						"pl_load_type": {
							"value": "period",
							"type": "String"
						},
						"pl_load_start_date": {
							"value": {
								"value": "@pipeline().parameters.par_src_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pl_load_until_date": {
							"value": {
								"value": "@pipeline().parameters.par_src_until_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Success notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LogPLActivitySuccess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The periodical dumping survey answer from delighted processing is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.cc}\",\n    \"subject\" : \"No-Reply: The survey Data periodical dumping success.\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Faiure notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LogPLActivityfailed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The periodical dumping survey answer from delighted processing failed at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\" ,\n    \"cc\":\"@{pipeline().parameters.cc}\",\n    \"subject\" : \"No-Reply: The survey Data periodical dumping failed.\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"par_ps_src_start_date": {
				"type": "string",
				"defaultValue": "2023-01-01"
			},
			"par_ps_snk_container": {
				"type": "string",
				"defaultValue": "land"
			},
			"par_ps_snk_dir": {
				"type": "string",
				"defaultValue": "delighted/raw"
			},
			"par_ps_snk_filename": {
				"type": "string",
				"defaultValue": "survey.json"
			},
			"par_ps_src_until_date": {
				"type": "string",
				"defaultValue": "2023-01-07"
			},
			"par_ps_src_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/survey_responses.json"
			},
			"par_ps_receiver": {
				"type": "string",
				"defaultValue": "chenerjun@gmail.com"
			},
			"par_ps_cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca,echen@jbssa.com"
			}
		},
		"variables": {
			"var_1st_day": {
				"type": "String"
			},
			"var_delta_load_interval_day": {
				"type": "String"
			},
			"var_period_start": {
				"type": "String"
			},
			"var_period_until": {
				"type": "String"
			},
			"var_API-Key": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}