pipeline/pl_delighted_management.json
{
	"name": "pl_delighted_management",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "check_load_type_Is_delta",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    or(\n        or(\n        or(equals('y',pipeline().parameters.is_delta_load),equals('Y',pipeline().parameters.is_delta_load)),\n        or(equals('yes',pipeline().parameters.is_delta_load),equals('YES',pipeline().parameters.is_delta_load))\n        ),\n        or(\n        or(equals('t',pipeline().parameters.is_delta_load),equals('T',pipeline().parameters.is_delta_load)),\n        or(equals('ture',pipeline().parameters.is_delta_load),equals('TURE',pipeline().parameters.is_delta_load))\n        )\n    )\n, equals(1, '1')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute_period_load_survey",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_ps_src_start_date": {
										"value": "@variables('var_m_period_start_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_snk_container": {
										"value": "@pipeline().parameters.par_m_snk_container",
										"type": "Expression"
									},
									"par_ps_snk_dir": {
										"value": "@pipeline().parameters.par_m_snk_dir",
										"type": "Expression"
									},
									"par_ps_snk_filename": {
										"value": "@pipeline().parameters.par_m_snk_filename",
										"type": "Expression"
									},
									"par_ps_src_until_date": {
										"value": "@variables('var_m_period_until_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"par_ps_receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"par_ps_cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_ps_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "period_start_date",
							"description": "load delighted survey data from this date at 12:00 AM",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_timestamp",
								"value": {
									"value": "@string(\ndiv(sub(ticks(convertToUtc(pipeline().parameters.par_m_start_date, 'Eastern Standard Time')), ticks('1970-01-01')),10000000)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "period_until_date",
							"description": "period load until this date at 11:59 PM",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_start_date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "force_init_start_date_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_period_until_people_timestamp",
								"value": {
									"value": "@string(\nadd(86390,div(sub(ticks(convertToUtc(pipeline().parameters.par_m_until_date, 'Eastern Standard Time')), ticks('1970-01-01')),10000000))\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_period_load_people",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_People",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_init_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_p_start_date": {
										"value": "@variables('var_m_period_start_people_timestamp')",
										"type": "Expression"
									},
									"par_p_until_date": {
										"value": "@variables('var_m_period_until_people_timestamp')",
										"type": "Expression"
									},
									"par_p_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "force_init_start_date_timestamp",
							"description": "force init_start_date_timestamp to 2023-01-01\n1672549200",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_start_date",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_period_start_people_timestamp",
								"value": "1672549200"
							}
						},
						{
							"name": "force init_until_date_timestamp",
							"description": "init_until_date_timestamp to current timestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "period_until_date",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_until_delta_people_timestamp",
								"value": {
									"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_period_load_survey_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "force init_until_date_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_ps_src_start_date": {
										"value": "@variables('var_m_period_start_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_snk_container": {
										"value": "@pipeline().parameters.par_m_snk_container",
										"type": "Expression"
									},
									"par_ps_snk_dir": {
										"value": "@pipeline().parameters.par_m_snk_dir",
										"type": "Expression"
									},
									"par_ps_snk_filename": {
										"value": "@pipeline().parameters.par_m_snk_filename",
										"type": "Expression"
									},
									"par_ps_src_until_date": {
										"value": "@variables('var_m_period_until_survey_timestamp')",
										"type": "Expression"
									},
									"par_ps_src_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"par_ps_receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"par_ps_cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_ps_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_period_load_people_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "force init_until_date_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_period_People",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_init_endpoint": {
										"value": "@pipeline().parameters.par_m_init_endpoint",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_p_start_date": {
										"value": "@variables('var_m_period_start_people_timestamp')",
										"type": "Expression"
									},
									"par_p_until_date": {
										"value": "@variables('var_m_period_until_people_timestamp')",
										"type": "Expression"
									},
									"par_p_API_Key": {
										"value": "@variables('var_m_API-Key')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "lkp_last_success_load_survey",
							"description": "logged created date will be added one day as the new loading start date.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT top 1 \n       [pl_load_start_datetime_EST]\n      ,[pl_load_start_timestamp]\n      ,[pl_load_start_datetime_UTC]\n      ,[pl_load_until_datetime_EST]\n      ,[pl_load_until_timestamp]\n      ,[pl_load_until_datetime_UTC]\n\t  ,[pl_next_delta_datetime_EST]\n      ,[pl_next_delta_timestamp]\n      ,[pl_next_delta_datetime_UTC]\n\t  ,[pl_created_datetime_EST]\n      ,[pl_Created_timestamp]\n      ,[pl_created_datetime_UTC]\n  FROM [land].[pipeline_activity_log]\n  where [pl_category] = 'survey' and [pl_status]  = 1 and pl_load_type = 'delta'\n  order by [pl_log_id] desc \n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_src_land_sql_log",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "delta_survey_start_timestamp",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_survey_start_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_survey_timestamp",
								"value": {
									"value": "@string(\n    add(\n    int(activity('lkp_last_success_load_survey').output.firstRow.pl_Created_timestamp)\n    ,1)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "survey_timestamp now",
							"description": "by default, it is current timestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_survey_start_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_until_delta_survey_timestamp",
								"value": {
									"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "last_success_delta_survey_datetime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_last_success_load_survey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_last_delta_survey_datetime",
								"value": {
									"value": "@activity('lkp_last_success_load_survey').output.firstRow.pl_created_datetime_UTC",
									"type": "Expression"
								}
							}
						},
						{
							"name": "lkp_last_success_load_people",
							"description": "logged created date will be added one day as the new loading start date.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT TOP 1\n       [pl_load_start_datetime_EST]\n      ,[pl_load_start_timestamp]\n      ,[pl_load_start_datetime_UTC]\n      ,[pl_load_until_datetime_EST]\n      ,[pl_load_until_timestamp]\n      ,[pl_load_until_datetime_UTC]\n\t  ,[pl_next_delta_datetime_EST]\n      ,[pl_next_delta_timestamp]\n      ,[pl_next_delta_datetime_UTC]\n\t  ,[pl_created_datetime_EST]\n      ,[pl_Created_timestamp]\n      ,[pl_created_datetime_UTC]\n  FROM [land].[pipeline_activity_log]\n  where [pl_category] = 'people' and [pl_status]  = 1 and pl_load_type = 'delta'\n  order by [pl_log_id] desc ",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_src_land_sql_log",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "last_success_delta_people_datetime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_last_success_load_people",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_last_period_people_datetime",
								"value": {
									"value": "@activity('lkp_last_success_load_people').output.firstRow.pl_created_datetime_UTC",
									"type": "Expression"
								}
							}
						},
						{
							"name": "delta_people_start_timestamp",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_people_start_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_timestamp",
								"value": {
									"value": "@string(\n    add(\n    int(activity('lkp_last_success_load_people').output.firstRow.pl_Created_timestamp)\n    ,1)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "people_timestamp now",
							"description": "by default, it is current timestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delta_people_start_timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_until_delta_people_timestamp",
								"value": {
									"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute delta load survey",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "survey_timestamp now",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_delta_survey",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"par_src_endpoint": {
										"value": "@concat(pipeline().parameters.par_m_init_endpoint\n,'survey_responses.json/'\n)",
										"type": "Expression"
									},
									"receiver": {
										"value": "@pipeline().parameters.par_m_receiver",
										"type": "Expression"
									},
									"cc": {
										"value": "@pipeline().parameters.par_m_cc",
										"type": "Expression"
									},
									"par_c1_start_delta_survey_timestamp": {
										"value": "@variables('var_m_start_delta_survey_timestamp')",
										"type": "Expression"
									},
									"par_c1_until_delta_survey_timestamp": {
										"value": "@variables('var_m_until_delta_survey_timestamp')",
										"type": "Expression"
									},
									"par_c1_last_delta_survey_datetime": {
										"value": "@variables('var_m_last_delta_survey_datetime')",
										"type": "Expression"
									},
									"par_c1_last_delta_survey_timestamp": {
										"value": "@variables('var_m_last_delta_survey_timestamp')",
										"type": "Expression"
									},
									"par_c1_start_delta_survey_datetime": {
										"value": "@variables('var_m_start_delta_survey_datetime')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "delta_survey_start_datetime",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "last_success_delta_survey_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_survey_datetime",
								"value": {
									"value": "@addSeconds(\nactivity('lkp_last_success_load_survey').output.firstRow.pl_created_datetime_UTC\n,1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "delta_people_start_datetime",
							"description": "last success load plus 1 second as new load start.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "last_success_delta_people_datetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_m_start_delta_people_datetime",
								"value": {
									"value": "@addSeconds(\nactivity('lkp_last_success_load_people').output.firstRow.pl_created_datetime_UTC\n,1\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "placeholder",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "people_timestamp now",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_m_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"is_delta_load": {
				"type": "string",
				"defaultValue": "y"
			},
			"par_m_start_date": {
				"type": "string",
				"defaultValue": "2023-01-01"
			},
			"par_m_until_date": {
				"type": "string",
				"defaultValue": "2023-01-07"
			},
			"par_m_receiver": {
				"type": "string",
				"defaultValue": "chenerjun@live.com"
			},
			"par_m_cc": {
				"type": "string",
				"defaultValue": "erjun.chen@teamfuse.ca,echen@jbssa.com"
			},
			"par_m_init_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/"
			},
			"par_m_snk_container": {
				"type": "string",
				"defaultValue": "land"
			},
			"par_m_snk_dir": {
				"type": "string",
				"defaultValue": "delighted/raw"
			},
			"par_m_snk_filename": {
				"type": "string",
				"defaultValue": "survey.json"
			}
		},
		"variables": {
			"var_m_API-Key": {
				"type": "String"
			},
			"var_m_period_start_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_until_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531201"
			},
			"var_m_start_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_until_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_period_people_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_period_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_delta_people_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_delta_people_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_start_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_period_until_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_start_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_until_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_last_period_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_period_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531201"
			},
			"var_m_last_delta_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_last_delta_survey_timestamp": {
				"type": "String",
				"defaultValue": "1672531200"
			},
			"var_m_start_delta_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_period_start_survey_datetime": {
				"type": "String",
				"defaultValue": "2023-01-01"
			},
			"var_m_start_delta_people_datetime": {
				"type": "String"
			},
			"var_m_period_start_people_datetime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}