pipeline/pl_delighted_rest_management.json
{
	"name": "pl_delighted_rest_management",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "check_load_type",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    or(\n        or(\n        or(equals('y',pipeline().parameters.is_delta_load),equals('Y',pipeline().parameters.is_delta_load)),\n        or(equals('yes',pipeline().parameters.is_delta_load),equals('YES',pipeline().parameters.is_delta_load))\n        ),\n        or(\n        or(equals('t',pipeline().parameters.is_delta_load),equals('T',pipeline().parameters.is_delta_load)),\n        or(equals('ture',pipeline().parameters.is_delta_load),equals('TURE',pipeline().parameters.is_delta_load))\n        )\n    )\n, equals(1, '1')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute_period_load_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_rest_period_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute delta load pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_delighted_rest_delta_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"is_delta_load": {
				"type": "string",
				"defaultValue": "y"
			}
		},
		"variables": {
			"var_API-Key": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}