pipeline/pl_delighted_rest_People.json
{
	"name": "pl_delighted_rest_People",
	"properties": {
		"activities": [
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "initial_endpoint",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_endpoint",
					"value": {
						"value": "@concat(pipeline().parameters.par_init_endpoint,'people.json/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_list_people",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "initial_endpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('var_endpoint'), 'stop')\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "list_people",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@variables('var_endpoint')",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": {
										"value": "@variables('var_API-Key')",
										"type": "Expression"
									},
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "ls_fusedata_AzureKeyVault",
											"type": "LinkedServiceReference"
										},
										"secretName": "Delighted"
									}
								}
							}
						},
						{
							"name": "get_response_header",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "list_people",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "response_header",
								"value": {
									"value": "@activity('list_people').output.ADFWebActivityResponseHeaders.Link",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stored_response_to_tb",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "get_response_header",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[udsp_insert_raw]",
								"storedProcedureParameters": {
									"r": {
										"value": {
											"value": "@activity('list_people').output.Response",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sqldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "update_endpoint",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored_response_to_tb",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_endpoint",
								"value": {
									"value": "@substring(variables('response_header'),1\n,sub(length(variables('response_header')),14)\n)\n ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "reset_endpoint_to_stop_loop",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_response_header",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_endpoint",
								"value": "'stop'"
							}
						},
						{
							"name": "Stop looping",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "reset_endpoint_to_stop_loop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"par_init_endpoint": {
				"type": "string",
				"defaultValue": "https://api.delighted.com/v1/"
			}
		},
		"variables": {
			"response_body": {
				"type": "String"
			},
			"response_header": {
				"type": "String"
			},
			"var_API-Key": {
				"type": "String"
			},
			"var_endpoint": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}