pipeline/pl_delighted_rest_delta_copy.json
{
	"name": "pl_delighted_rest_delta_copy",
	"properties": {
		"description": "Listing survey responses from delighted rest api",
		"activities": [
			{
				"name": "set_interval",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_delta_load_interval_day",
					"value": {
						"value": "int ( @pipeline().parameters.par_delta_load_interval_day ) * 86400",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_1st_Day",
				"description": "set first day UNIX timestamp ",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_1st_day",
					"value": {
						"value": "@string(\n\tmul(\n\t\tdiv(\n\t\t\t\tsub(\n\t\t\t\t\t\tticks(convertToUtc(pipeline().parameters.par_firstday, 'Eastern Standard Time')\t \n\t\t\t\t\t\t\t)\n\t\t\t\t\t\t,ticks(convertToUtc( '1970-01-01','Eastern Standard Time' )\n\t\t\t\t\t\t\t)  \n\t\t\t\t\t)   \n\t\t\t\t\n\t\t\t\t,864000000000\n\t\t\t)\n\t\t, 86400 \n\t )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lkp_last_load_date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_1st_Day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_interval",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_src_land_last_success_load_delighted",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "delta_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_last_load_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_start_delta",
					"value": {
						"value": "@string(\n\tmul(\n\t\tdiv(\n\t\t\t\tsub(\n\t\t\t\t\t\tticks(convertToUtc(\n\t\t\t\t\t\t\t\n\nactivity('lkp_last_load_date').output.firstRow.lastdate\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t, 'Eastern Standard Time')\t \n\t\t\t\t\t\t\t)\n\t\t\t\t\t\t,ticks(convertToUtc( '1970-01-01','Eastern Standard Time' )\n\t\t\t\t\t\t\t)  \n\t\t\t\t\t)   \n\t\t\t\t\n\t\t\t\t,864000000000\n\t\t\t)\n\t\t, 86400 \n\t )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "log_success_load_delighted",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "detlta_get_delighted_responses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_log_last_success_load_delighted",
						"type": "DataFlowReference",
						"parameters": {
							"df_par_last_success_load_delighted_date": "toString(currentDate('EST'))"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "detlta_get_delighted_responses",
				"description": "Listing survey responses from delighted rest api",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "delta_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_src_land_delighted",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snk_land_delighted_json",
						"type": "DatasetReference",
						"parameters": {
							"par_ds_snk_delighted_container": {
								"value": "@pipeline().parameters.par_snk_container",
								"type": "Expression"
							},
							"par_ds_snk_delighted_dir": {
								"value": "@pipeline().parameters.par_snk_dir",
								"type": "Expression"
							},
							"par_ds_snk_delighted_file": {
								"value": "@concat('survey'\n, '-'\n, variables('var_start_delta')\n, '-'\n, formatDateTime(convertFromUtc(utcNow(),'Eastern Standard Time'),'yyyyMMdd-HHmm')\n, 'json'\n)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"par_firstday": {
				"type": "string",
				"defaultValue": "2022-10-01"
			},
			"par_delta_load_interval_day": {
				"type": "string",
				"defaultValue": "1"
			},
			"par_snk_container": {
				"type": "string",
				"defaultValue": "land"
			},
			"par_snk_dir": {
				"type": "string",
				"defaultValue": "delighted/raw"
			},
			"par_snk_filename": {
				"type": "string",
				"defaultValue": "survey.json"
			}
		},
		"variables": {
			"var_1st_day": {
				"type": "String"
			},
			"var_delta_load_interval_day": {
				"type": "String"
			},
			"var_start_delta": {
				"type": "String"
			},
			"today_ts": {
				"type": "String"
			}
		},
		"folder": {
			"name": "land"
		},
		"annotations": []
	}
}