pipeline/survey.json
{
	"name": "survey",
	"properties": {
		"activities": [
			{
				"name": "survey",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "delta survey Success notice_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.delighted.com/v1/survey_responses.json?'\n, 'per_page=',pipeline().parameters.per_page\n, '&since=',pipeline().parameters.since\n)",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "j9HsbUD0W8zhN14uoKv2HfIO7JIlxXzJ",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_fusedata_AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "Delighted"
						}
					}
				}
			},
			{
				"name": "Saving API-Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "delta survey Success notice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_delta_API-Key",
					"value": {
						"value": "@activity('API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Key",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Saving API-Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-wildfork-nonprod.vault.azure.net/secrets/delighted-apikey/177d9c82363448c7a5b3a7da1714a128?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "delta survey Success notice",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "survey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : pipeline().DataFactory, \n    \"message\" : \"The delta dumping survey from delighted is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" :pipeline().Pipeline, \n    \"receiver\" : pipeline().parameters.par_m_receiver,\n    \"cc\":pipeline().parameters.par_m_cc,\n    \"subject\" : \"No-Reply: The survey Data delta dumping success.\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delta survey Success notice_copy1",
				"description": "successful lod survey notification",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.canadacentral.logic.azure.com:443/workflows/e08a5efe1c714c62950f71fff3290381/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=7KWIblzVG-FWqD00-WOS3-3GIswFQcOVeTu6Jiqmf8A ",
					"method": "POST",
					"body": {
						"value": "{\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"message\" : \"The delta dumping survey from delighted is success at @{convertFromUtc(utcnow(),'eastern standard time')}\",\n    \"pipelineName\" :\"@{pipeline().Pipeline}\", \n    \"receiver\" : pipeline().parameters.par_m_receiver,\n    \"cc\":pipeline().parameters.par_m_cc,\n    \"subject\" : \"No-Reply: The survey Data delta dumping success.\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"per_page": {
				"type": "string",
				"defaultValue": "20"
			},
			"since": {
				"type": "string",
				"defaultValue": "1673792804"
			}
		},
		"folder": {
			"name": "land/test"
		},
		"annotations": []
	}
}